/**
 * VARIABLES
 */
$c_primary:		#366F75;
$c_secondary:	#0DB3B3;

body {
	margin-top: 125px;

	@media screen and (max-width: 730px) {
		margin-top: 0px;
	}

	@media screen and (max-width: 768px) {
		margin-top: 0px;
	}

	> #interna {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
	*:not(.path svg):not(.container):not([class^="cd-overlay"] *) {
		max-width: 100vw;
	}

	.container {
		max-width: none!important;
	}
}

* {

}

#mobile-nav {
	.nav-item, .dropdown, .dropdown-toggle {
		&, &:active, &:hover {
			color: #fff;
		}
	}
	.dropdown-menu {
		position: relative!important;
		transform: none!important;
		border-radius: 24px;
		width: 100%;
		margin: 0px;
		margin-bottom: 12px;
		background-color: $c_secondary;

		li {
			margin: .8em 0;
		}

		.dropdown-menu {
			border-bottom: 1px solid $c_primary;
			border-radius: 0px;
		}
	}
	li:active, li:hover,
	a:active, a:hover {
		background: inherit;
	}
}

.cd-overlay-content, .cd-overlay-content *, .cd-overlay-nav, .cd-overlay-nav * {
	max-width: none;
}

.cd-overlay-content {
	z-index: 400;
}

main.cd-content {
	overflow-x: hidden;
}

body, .path, .path svg {
	font-family: 'Cairo', sans-serif;
	overflow-x: hidden;
}

.path, .path svg {
	overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6, span, p {
	font-weight: 200;
}

.btn.btn-oscar {
	background-color: $c_primary;
	color: #fff!important;
	border: $c_primary;

	&:hover {
		background-color: lighten($c_primary, 5);
	}
	&:not(:disabled):not(.disabled):active {
		background-color: darken($c_primary, 5);
	}
	
}

nav:not([class^="cd-"]) {
	z-index: 100;
	position: fixed;
	@media screen and (max-width: 730px) {
		position: relative;
	}
	@media screen and (max-width: 769px) {
		position: relative;
	}
	top: 0;
	left: 0;
	width: 100%;
	transition-duration: .6s;


	.nav-link {
    padding-right: .8rem!important;
    padding-left: .8rem!important;
    font-weight: 600;
    color: rgba(0,0,0,.7);
		font-size: 1.3em;
	}
	.navbar-brand img {
		width: 10em;
	}

	li.dropdown .dropdown-menu {
		margin-top: 0;
		border: none;
		border-radius: 0;
		border-left: 3px solid $c_primary;
		margin-left: 0.8rem;

		> .dropdown-item {
			padding: 0;
			padding-left: 1em;
			font-weight: 300;
		}
	}

	.dropdown-toggle, .dropdown-item {
		&:active {
			background: inherit;
    	color: inherit;
		}
	}

	.hg-subdropdown {

		.dropdown-menu.show {
			position: relative;
			margin: 0px;
			border: 0px;
			background: #efefef;
		}
	}
}

.cd-primary-nav {

	.has-sub {

		.rounded-sub-overlay {
			transition-duration: .3s;
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.3);
			backdrop-filter: blur(0px);
		}
		.rounded-sub {
			display: none;
			position: absolute;
			background-color: #fff;
			border-radius: 6px;
			color: $c_primary;
			margin: 0 auto;
			left: 0;
			right: 0;
			width: fit-content;
			padding: 2rem;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			width: 80vw;
			

			.rounded-sub-close {
				background-color: #eee;
				border-radius: 50%;
				width: 2rem;
				height: 2rem;
				position: absolute;
				line-height: 2rem;
				vertical-align: middle;
				top: -1rem;
				right: -1rem;
			}

			> ul {
				> li {
					margin: 0px;

					> a {
						color: $c_primary;
						// padding: 0 2rem;
					}
				}
			}
		}

		&.sub-show {

			> .rounded-sub-overlay {
				display: block;
				backdrop-filter: blur(3px);
			}
			> .rounded-sub {
				display: block;
			}
		}
	}
}

.cd-primary-nav a:hover {
  color: #ffffff!important;
  text-decoration: none;
}

.cd-nav-trigger {
	top: 15px;
	right: 18px;
	@media screen and (max-width: 768px) {
		top: 40px;
		right: 40px;
	}
	z-index: 400;
}

#viewHeight {
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	height: 100vh;
	background-color: #fae;
	z-index: 100;
	display: none;
}

footer.footer {
	background-color: $c_primary;
	padding: 3rem 0;
	
	p, a {
		color: #fff;
		font-weight: 200;
	}

	.btn {
		font-weight: 200;
	}

	img {
		width: 50%;
	}

	body[data-home="1"] & {
		margin-top: -180px;
	}
}


/**
 * HOMEPAGE
 */

#masterhead {
	margin-bottom: 7em;
	h1 {
		font-size: 5rem;
		padding-top: 5rem;

		b {
			color: $c_primary;
		}
	}
}

#web_graphic {
	position: absolute;
	width: 100%;
	top: 150px;
	right: 0;
	z-index: -1;
	opacity: 0.9;
	text-align: right;
	
	svg {

		position: relative;
		right: 0;
		top: 0;

		* {
			stroke: none;
		}

		path {
			transition-duration: 1.5s;
		}

		#light path {
			// fill: #BCD3D4;
		}

		#dark path {
			// fill: #ace4e4;
		}
	}
}

#web_background {
	position: absolute;
	width: 100%;
	top: -300px;
	right: 0;
	z-index: -2;
	opacity: 0.7;
	text-align: right;

	svg {
		path {
			// fill: none;
			// stroke: #eee;
			stroke: none;
		}
	}
}

#balls {

	.container {
		padding: 0;
	}

	.row {
		margin-left: 0px;
		margin-right: 0px;	
	}

	#prePath {
		width: 1024px;
		height: 5px;
		left: -1000px;
		position: absolute;
		background-color: #EEE;
		margin-top: 29px
	}
	
	#motionPath {
		position: absolute;

		.el {
			background-color: #51B0B1;
			width: 20px;
			height: 20px;
	    margin-bottom: -11px;
    	margin-left: -10px;
			border-radius: 999em;
		}

		svg, #ballsCont {
			-webkit-transform-origin: top left;
			        transform-origin: top left;
		}
	}

	#ballsCont {
		padding-top: 30px;
	}

	

	.ball {


		width: 520px;
		height: 520px;
		border-radius: 50%;
		background-size: cover;
	}

	.ball-l {

		&:nth-of-type(1) {
			padding-top: 100px;
		}

		&:nth-of-type(3) {
			padding-top: 35px;
		}

		.par {
			padding-left: 160px
		}
	}

	.ball-r {

		.ball {
			margin-top: 15px
		}

		.par {
			padding-right: 160px;
			text-align: right;
		}
	}

/*	.ball-l .ball {
		
		margin-top: 34px;

		&.ball-1 {
			margin-top: 70px;	
		}
		
		margin-left: 36px!important;
	}
*/
	

	.par {
	  text-align:left;
	  height:100%;
	  display: table;
	  width: 100%;
	  font-size: 1.8rem;

	  span {
	  	vertical-align:middle;
	  	  display: table-cell;

  	  b {
  	  	color: $c_primary;
  	  }
	  }
	}
}


#afterBalls {
	font-size: 2.3rem;
	line-height: 1.3em;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 4rem;

	b {
		color: $c_primary;
	}
}

.valBal {
	border-radius: 999em;
	    width: 100%;
	    padding-top: 100%; /* 1:1 Aspect Ratio */
	    position: relative;
	background-color: $c_secondary;

	span {
		position: absolute;
		top: 50%;
		width: 100%;
		text-align: center;

		&.num {
			font-weight: 800;
			color: #fff;
			font-size: 7rem;
			margin-top: -6rem;

			small {
				font-size: .3em;
			}

			&.big {
				font-size: 3rem;
				margin-top: -3rem;
			}
		}

		&.desc {
			margin-top: 3rem;
			font-weight: 800;
			font-size: 1.3rem;
			line-height: 1.4rem;

			@media screen and (max-width: 1024px) {
			font-size: 1.1rem;
			}
		}
	}

	@media screen and (max-width: 731px) {
		span.num {
				font-size: 5rem;
				margin-top: -4.5rem;
		}
		span.desc {
				margin-top: 1.6rem;
				font-weight: 800;
				font-size: 0.9rem;
				line-height: 1.4rem;
		}
	}
}

#slogan {
	text-align: center;
	margin-top: 7rem;
	margin-bottom: 3rem;

	b {
		color: $c_primary;
	}

	h3 {
		font-size: 3.4rem;
		font-weight: 800;
		color: $c_primary;
	}

	p {
		font-size: 2rem;
	}
}


.el {
	background-color: #51B0B1;
	width: 20px;
	height: 20px;
	margin-bottom: -10px;
	margin-left: -10px;
	border-radius: 999em;
}
#sCont {
	position: relative;
	margin-left: calc(50vw - (750px + 5em));
	margin-top: 4em;
	/*margin-bottom: 70vh;*/

	#prePath {
		position: absolute;
    margin-top: 10px;
    left: 0;
    margin-left: -1240px;
}
}
svg {
	path {
		stroke: #EEE;
	}
}

#viewHeight {
	position: absolute;
	left: 0;
	top: 0;
	width: 3px;
	height: 100vh;
	background-color: #fae;
	z-index: 100;
}

@media screen and (max-width: 1024px) {
	#balls .ball {
		width: 470px;
		height: 470px;
	}
	
	#afterBalls {
		margin-top: 15rem;
	}
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
	
	#masterhead {
		margin-bottom: 0;
	}

	#web_graphic, #web_background {
		display: none;
	}
	#balls .ball {
		width: 350px;
		height: 350px;
	}

	#balls .ball-l .par {
		padding-left: 2em;
	}

	#balls .ball-r .par {
		padding-right: 2em;
	}
	
	#afterBalls {
		margin-top: 3em;
	}

	#valBals {
		margin-bottom: 5rem;
	}

	#valBals .row > [class^="col"]:nth-of-type(2) {
		padding-top: 15em;
	}

	#valBals .row > [class^="col"]:nth-of-type(3) {
		margin-top: -5em;
	}

	#valBals .row > [class^="col"]:nth-of-type(4) {
		padding-top: 10em;
	}


}

/**
 * BLOG
 */
#blog {

	form {
		padding: 5em 0;

		[name="q"] {
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
		}

		[type="text"] {
			border-bottom-left-radius: 4px;
			border-top-left-radius: 4px;
		}

		[type="submit"] {
			border:none;
			border-radius: 4px;
		}

		.blogSearchReset {
			display: table;
			height: 100%;
			color:#5D646A;
			padding-left: .5rem;

			svg {
				cursor: pointer;
				display: table-cell;
		    vertical-align: middle;
		    height: 100%;
			}
		}
	}
	
	article {
		margin-bottom: 2em;
	}
	/*
	Settori
	 */
	.settore1 {
		.blog-author img {border-color: #5395E0}
		.post-settore .badge {background: #5395E0}
	}

	.settore2 {
		.blog-author img {border-color: #DAA839}
		.post-settore .badge {background: #DAA839}
	}

	.settore3 {
		.blog-author img {border-color: #78B23C}
		.post-settore .badge {background: #78B23C}
	}

	.blog-author {

		img {
			border-radius: 50%;
			border: 4px solid #ddd;
			padding: 7px;
			width: 100%;
			height: auto;
		}

		.author-meta {
			height: 100%;
			display: table;
			.author-name {
				display: table-cell;
				margin-bottom: 0;
				vertical-align: middle;
			}
		}

		.author-meta-social a {
			color: #333;
			font-weight: 200;
			font-size: 0.8em;
		}
	}
	
	/**
	 * BLOG POST
	 */
	&[data-page="post"] {
		h1 {
			font-weight: 400;
			font-size: 3rem;
		}
		h2 {
			font-weight: 400;
		}

		b {
			font-weight: bold;
		}
		
		.feat-img {
			min-height: 400px;
			background-position: center;
			background-size: cover;
			margin-bottom: 3rem;
		}

		.post-cont {
			p {
				font-weight: 300;
			}

			blockquote p {
				font-family: serif;
				font-weight: 300;
				padding-left: 1em;
				border-left: 4px solid rgba(0,0,0,0.3);
			}
		}

		
	}

	.post-settore {
		position: relative;
		z-index: 100;
	}


}

/**
 * INTERNA
 */

#interna {

	h1 {
		font-size: 4.5rem;
		color: $c_primary;

		@media screen and (max-width: 731px) {
			font-size: 3rem;
		}
	}

	h2 {
		margin-bottom: 1em;
	}

	h3 {
		font-weight: bold;
	}

	h4 {
		font-weight: 400;

		@media screen and (max-width: 731px) {
			text-align: center;
		}
	}

 #page_featured {
 	width: 100%;
 	border-radius: 50%;
 	padding: 2em;
 	border: 3px solid #F3F3F3;

 	.image {
 		width: 100%;
		padding-top: 100%;
		border-radius: 50%;
	 	background-size: cover;
	 	background-repeat: no-repeat;
 	}
 }

}

/**
 * CHI SIAMO
 */

#interna[data-page="chi-siamo"] {

	.membro {
		@media screen and (max-width: 731px) {
			word-wrap: break-word;
		}
		
		.desc {
			margin-top: 2em;
			margin-bottom: 4em;
			.nome {}

			.professione {
				font-weight: 200;
			}

			.email {
				font-weight: 200;
			}
		}

		.pic {
		 	width: 100%;
		 	border-radius: 50%;
		 	// padding: 1em;
		 	// border: 3px solid #F3F3F3;

		 	.image {
		 		width: 100%;
				padding-top: 100%;
				border-radius: 50%;
			 	background-size: cover;
			 	background-repeat: no-repeat;
		 	}
		}
	}
}


/**
 * PRODOTTO
**/

.product-content {
	text-align: justify;

	ul {
		list-style-type: disc;
		padding-left: 2rem;
	}

	.image-box {
		padding: 2rem;
		width: 100%;
		text-align: center;
		
		img {
			width: 100%;
			height: auto;
			border-radius: 24px;

			&.small {
				width: 60%;
				height: auto;
			}
		}
	}
}

.product-box {
	// padding: 1rem 0;
	// @media screen and (max-width: 731px) {
	// 	padding: initial;
	// }
}

.product-featured {
	width: 100%;
	// border: 3px solid #F3F3F3;
	border-radius: 24px;
	// padding: 2rem;
	margin-bottom: 2rem;
	margin-top: 1rem;

	> img {
		display: none;
		@media screen and (max-width: 731px), screen and (max-width: 768px) {
			display: block;
			border-radius: 24px;
		}
	}

	> div {
		border-radius: 24px;
		width: 100%;
		min-height: 30rem;
		@media screen and (max-width: 731px), screen and (max-width: 768px) {
			min-height: initial;
			height: 60vw;
			display: none;
		}
		background-size: cover;
		background-position: center center;
	}
}

.product-logo {
	// float: right;
	border-radius: 50%;
	padding: 1em;
	border: 3px solid #F3F3F3;
	// margin: 2rem;
	display: inline-block;
		
	> div {
		width: 17rem;
		height: 17rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-position:center center;
	}
}


/**
 * MAPPA
**/



.mapLegend {
	min-width: 6rem;
	position: absolute;
    top: 195px;
    background: #fff;
    /* left: 0; */
    padding: 1rem 1rem;
    /* width: 10rem; */
    /* margin: 0 auto; */
    margin-top: .5rem;
    right: 0.6rem;
    width: fit-content;
    /* border-bottom-right-radius: 6px; */
    /* border-bottom-left-radius: 6px; */
    border-radius: 3px;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		
	i {
		margin-right: .3rem;

		&.mapActive {
			color: $c_primary;
		}

		&.mapFuture {
			color: #909090;
		}
	}

	img {
		height: 1rem;
		width: auto;
	}

	> div {
		// display: inline-block;

		// &:last-of-type {
		// 	margin-left: .3rem;
		// 	padding-left: .3rem;
		// 	border-left: 1px solid #ccc;
		// }
	}
}

#map {
	height: calc(100% - 125px);
}

.map-balloon {
	margin-bottom: .6rem;
}

.map-balloon span i {
	padding-right: .5em;
}

.map-balloon span {
	display: block;
	margin-bottom: .5em;
}


[data-page="referenze"] {

	a, a:hover {
		color: #000;
		text-decoration: none;
	}

	.customer-box {
		padding: 1rem;
		// border: 1px solid #ddd;
		border-radius: 6px;
		margin: 1rem 0px;
		transition-duration: .3s;
		opacity: 0.7;
		filter: grayscale(100%);

		.logo {
			display: block;
			margin: auto;
			// width: 200px;
			width: 100%;
			max-width: 200px;
			min-height: 100px;
			max-height: 100px;
		}

		.name {
			text-align: center;
			font-size: 1rem;
			font-weight: bold;
			display: block;
			// margin-top: 1.3rem;
			padding-top: 1rem;
			// border-top: 1px solid #ddd;
		}

		&:hover {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			border-color: transparent;
			cursor: pointer;
			opacity: 1;
			filter: grayscale(0%);
		}
	}
}


/**
 * LAYOUTS
**/
.layout03_elem {
	padding: 3rem 0;
	@media screen and (max-width: 731px) {
		padding: 15px!important;
	}
	text-align: justify;
	word-wrap: break-word;
  overflow-wrap: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
	
	&:nth-of-type(1n) {
		padding-right: 2rem;
	}
	&:nth-of-type(2n) {
		padding-left: 2rem;
	}

	.layout_img {
		// border: 2px solid #eee;
		// padding: 1rem;
		width: fit-content;
		height: fit-content;
		border-radius: 50%;
		margin: 1rem;
		@media screen and (max-width: 731px) {
			margin: auto;
			margin-bottom: 1rem;
		}

		> div {
			border-radius: 50%;
			width: 7rem;
			height: 7rem;
			content: "";
			
			background-color: #e8e8e8;
			background-repeat: no-repeat;
			background-size: 60%;
			background-position: center center;
		}
		
		
	}

	@media screen and (max-width: 730px) {



	}
}

#valBals {
	margin: 3rem 0;
}




/**
 * MOBILE
 */

@media screen and (max-width: 730px) {

	#motionPath {
		display: none;
	}
  
  #afterBalls p {
    font-size: 24px;
    line-height: 1.5em;

    b {
      font-size: 1.8em;
      margin-bottom: 0.5em;
    }
  }

  #masterhead h1 {
    font-size: 3rem;
    text-align: center;
  }

  #balls .ball-l:nth-of-type(1) {
  	padding-top: 40px;
  }

  #balls .ball {
    width: 285px;
    height: 285px;
  }

  #ballsCont .ball-l * {
    text-align: center;
  }

  #balls .ball-l .par {
      padding-left: 0em;
      padding: 0.5rem;
  }

  #balls .ball-r .par {
      padding-right: 0em;
      padding: 0.5rem;
  }

  #balls .par span {
    text-align: center;
  }



  .valBal span.num {
    font-size: 5rem;
    margin-top: -5rem;
  }

  #valBals .row > [class^="col"]:nth-of-type(2) {
    padding-top: 8em;
  }

  #valBals .row > [class^="col"]:nth-of-type(4) {
    padding-top: 3em;
  }

	#slogan {
		opacity: 0;
	}

  #slogan h3 {
    font-size: 2.7rem;
  }



  /**
   * Interna
   */
  #interna {
    h2 {
			// font-size: 2.3rem;
			font-size: 1.6rem;
    }

    h3 {
      font-size: 1.8rem;
    }
  }
}


@media (min-width: 1600px) {
	nav {
		.container {
			max-width: 1400px !important;
		}
	}

	body:not([data-home="1"]) {
		.container {
			max-width: 1400px !important;
		}
	}
}









