/**
 * VARIABLES
 */
body {
  margin-top: 125px; }
  @media screen and (max-width: 730px) {
    body {
      margin-top: 0px; } }
  @media screen and (max-width: 768px) {
    body {
      margin-top: 0px; } }
  body > #interna {
    font-size: 1.2rem; }

@media screen and (max-width: 1024px) and (orientation: landscape) {
  *:not(.path svg):not(.container):not([class^="cd-overlay"] *) {
    max-width: 100vw; }
  .container {
    max-width: none !important; } }

#mobile-nav .nav-item, #mobile-nav .nav-item:active, #mobile-nav .nav-item:hover, #mobile-nav .dropdown, #mobile-nav .dropdown:active, #mobile-nav .dropdown:hover, #mobile-nav .dropdown-toggle, #mobile-nav .dropdown-toggle:active, #mobile-nav .dropdown-toggle:hover {
  color: #fff; }

#mobile-nav .dropdown-menu {
  position: relative !important;
  transform: none !important;
  border-radius: 24px;
  width: 100%;
  margin: 0px;
  margin-bottom: 12px;
  background-color: #0DB3B3; }
  #mobile-nav .dropdown-menu li {
    margin: .8em 0; }
  #mobile-nav .dropdown-menu .dropdown-menu {
    border-bottom: 1px solid #366F75;
    border-radius: 0px; }

#mobile-nav li:active, #mobile-nav li:hover,
#mobile-nav a:active, #mobile-nav a:hover {
  background: inherit; }

.cd-overlay-content, .cd-overlay-content *, .cd-overlay-nav, .cd-overlay-nav * {
  max-width: none; }

.cd-overlay-content {
  z-index: 400; }

main.cd-content {
  overflow-x: hidden; }

body, .path, .path svg {
  font-family: 'Cairo', sans-serif;
  overflow-x: hidden; }

.path, .path svg {
  overflow-y: hidden; }

h1, h2, h3, h4, h5, h6, span, p {
  font-weight: 200; }

.btn.btn-oscar {
  background-color: #366F75;
  color: #fff !important;
  border: #366F75; }
  .btn.btn-oscar:hover {
    background-color: #3e8086; }
  .btn.btn-oscar:not(:disabled):not(.disabled):active {
    background-color: #2e5e64; }

nav:not([class^="cd-"]) {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition-duration: .6s; }
  @media screen and (max-width: 730px) {
    nav:not([class^="cd-"]) {
      position: relative; } }
  @media screen and (max-width: 769px) {
    nav:not([class^="cd-"]) {
      position: relative; } }
  nav:not([class^="cd-"]) .nav-link {
    padding-right: 0.8rem !important;
    padding-left: 0.8rem !important;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.3em; }
  nav:not([class^="cd-"]) .navbar-brand img {
    width: 10em; }
  nav:not([class^="cd-"]) li.dropdown .dropdown-menu {
    margin-top: 0;
    border: none;
    border-radius: 0;
    border-left: 3px solid #366F75;
    margin-left: 0.8rem; }
    nav:not([class^="cd-"]) li.dropdown .dropdown-menu > .dropdown-item {
      padding: 0;
      padding-left: 1em;
      font-weight: 300; }
  nav:not([class^="cd-"]) .dropdown-toggle:active, nav:not([class^="cd-"]) .dropdown-item:active {
    background: inherit;
    color: inherit; }
  nav:not([class^="cd-"]) .hg-subdropdown .dropdown-menu.show {
    position: relative;
    margin: 0px;
    border: 0px;
    background: #efefef; }

.cd-primary-nav .has-sub .rounded-sub-overlay {
  transition-duration: .3s;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(0px); }

.cd-primary-nav .has-sub .rounded-sub {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 6px;
  color: #366F75;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: fit-content;
  padding: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 80vw; }
  .cd-primary-nav .has-sub .rounded-sub .rounded-sub-close {
    background-color: #eee;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    position: absolute;
    line-height: 2rem;
    vertical-align: middle;
    top: -1rem;
    right: -1rem; }
  .cd-primary-nav .has-sub .rounded-sub > ul > li {
    margin: 0px; }
    .cd-primary-nav .has-sub .rounded-sub > ul > li > a {
      color: #366F75; }

.cd-primary-nav .has-sub.sub-show > .rounded-sub-overlay {
  display: block;
  backdrop-filter: blur(3px); }

.cd-primary-nav .has-sub.sub-show > .rounded-sub {
  display: block; }

.cd-primary-nav a:hover {
  color: #ffffff !important;
  text-decoration: none; }

.cd-nav-trigger {
  top: 15px;
  right: 18px;
  z-index: 400; }
  @media screen and (max-width: 768px) {
    .cd-nav-trigger {
      top: 40px;
      right: 40px; } }

#viewHeight {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100vh;
  background-color: #fae;
  z-index: 100;
  display: none; }

footer.footer {
  background-color: #366F75;
  padding: 3rem 0; }
  footer.footer p, footer.footer a {
    color: #fff;
    font-weight: 200; }
  footer.footer .btn {
    font-weight: 200; }
  footer.footer img {
    width: 50%; }
  body[data-home="1"] footer.footer {
    margin-top: -180px; }

/**
 * HOMEPAGE
 */
#masterhead {
  margin-bottom: 7em; }
  #masterhead h1 {
    font-size: 5rem;
    padding-top: 5rem; }
    #masterhead h1 b {
      color: #366F75; }

#web_graphic {
  position: absolute;
  width: 100%;
  top: 150px;
  right: 0;
  z-index: -1;
  opacity: 0.9;
  text-align: right; }
  #web_graphic svg {
    position: relative;
    right: 0;
    top: 0; }
    #web_graphic svg * {
      stroke: none; }
    #web_graphic svg path {
      transition-duration: 1.5s; }

#web_background {
  position: absolute;
  width: 100%;
  top: -300px;
  right: 0;
  z-index: -2;
  opacity: 0.7;
  text-align: right; }
  #web_background svg path {
    stroke: none; }

#balls {
  /*	.ball-l .ball {
		
		margin-top: 34px;

		&.ball-1 {
			margin-top: 70px;	
		}
		
		margin-left: 36px!important;
	}
*/ }
  #balls .container {
    padding: 0; }
  #balls .row {
    margin-left: 0px;
    margin-right: 0px; }
  #balls #prePath {
    width: 1024px;
    height: 5px;
    left: -1000px;
    position: absolute;
    background-color: #EEE;
    margin-top: 29px; }
  #balls #motionPath {
    position: absolute; }
    #balls #motionPath .el {
      background-color: #51B0B1;
      width: 20px;
      height: 20px;
      margin-bottom: -11px;
      margin-left: -10px;
      border-radius: 999em; }
    #balls #motionPath svg, #balls #motionPath #ballsCont {
      -webkit-transform-origin: top left;
      transform-origin: top left; }
  #balls #ballsCont {
    padding-top: 30px; }
  #balls .ball {
    width: 520px;
    height: 520px;
    border-radius: 50%;
    background-size: cover; }
  #balls .ball-l:nth-of-type(1) {
    padding-top: 100px; }
  #balls .ball-l:nth-of-type(3) {
    padding-top: 35px; }
  #balls .ball-l .par {
    padding-left: 160px; }
  #balls .ball-r .ball {
    margin-top: 15px; }
  #balls .ball-r .par {
    padding-right: 160px;
    text-align: right; }
  #balls .par {
    text-align: left;
    height: 100%;
    display: table;
    width: 100%;
    font-size: 1.8rem; }
    #balls .par span {
      vertical-align: middle;
      display: table-cell; }
      #balls .par span b {
        color: #366F75; }

#afterBalls {
  font-size: 2.3rem;
  line-height: 1.3em;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem; }
  #afterBalls b {
    color: #366F75; }

.valBal {
  border-radius: 999em;
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  background-color: #0DB3B3; }
  .valBal span {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center; }
    .valBal span.num {
      font-weight: 800;
      color: #fff;
      font-size: 7rem;
      margin-top: -6rem; }
      .valBal span.num small {
        font-size: .3em; }
      .valBal span.num.big {
        font-size: 3rem;
        margin-top: -3rem; }
    .valBal span.desc {
      margin-top: 3rem;
      font-weight: 800;
      font-size: 1.3rem;
      line-height: 1.4rem; }
      @media screen and (max-width: 1024px) {
        .valBal span.desc {
          font-size: 1.1rem; } }
  @media screen and (max-width: 731px) {
    .valBal span.num {
      font-size: 5rem;
      margin-top: -4.5rem; }
    .valBal span.desc {
      margin-top: 1.6rem;
      font-weight: 800;
      font-size: 0.9rem;
      line-height: 1.4rem; } }

#slogan {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 3rem; }
  #slogan b {
    color: #366F75; }
  #slogan h3 {
    font-size: 3.4rem;
    font-weight: 800;
    color: #366F75; }
  #slogan p {
    font-size: 2rem; }

.el {
  background-color: #51B0B1;
  width: 20px;
  height: 20px;
  margin-bottom: -10px;
  margin-left: -10px;
  border-radius: 999em; }

#sCont {
  position: relative;
  margin-left: calc(50vw - (750px + 5em));
  margin-top: 4em;
  /*margin-bottom: 70vh;*/ }
  #sCont #prePath {
    position: absolute;
    margin-top: 10px;
    left: 0;
    margin-left: -1240px; }

svg path {
  stroke: #EEE; }

#viewHeight {
  position: absolute;
  left: 0;
  top: 0;
  width: 3px;
  height: 100vh;
  background-color: #fae;
  z-index: 100; }

@media screen and (max-width: 1024px) {
  #balls .ball {
    width: 470px;
    height: 470px; }
  #afterBalls {
    margin-top: 15rem; } }

@media screen and (max-width: 1024px) and (orientation: portrait) {
  #masterhead {
    margin-bottom: 0; }
  #web_graphic, #web_background {
    display: none; }
  #balls .ball {
    width: 350px;
    height: 350px; }
  #balls .ball-l .par {
    padding-left: 2em; }
  #balls .ball-r .par {
    padding-right: 2em; }
  #afterBalls {
    margin-top: 3em; }
  #valBals {
    margin-bottom: 5rem; }
  #valBals .row > [class^="col"]:nth-of-type(2) {
    padding-top: 15em; }
  #valBals .row > [class^="col"]:nth-of-type(3) {
    margin-top: -5em; }
  #valBals .row > [class^="col"]:nth-of-type(4) {
    padding-top: 10em; } }

/**
 * BLOG
 */
#blog {
  /*
	Settori
	 */
  /**
	 * BLOG POST
	 */ }
  #blog form {
    padding: 5em 0; }
    #blog form [name="q"] {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
    #blog form [type="text"] {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px; }
    #blog form [type="submit"] {
      border: none;
      border-radius: 4px; }
    #blog form .blogSearchReset {
      display: table;
      height: 100%;
      color: #5D646A;
      padding-left: .5rem; }
      #blog form .blogSearchReset svg {
        cursor: pointer;
        display: table-cell;
        vertical-align: middle;
        height: 100%; }
  #blog article {
    margin-bottom: 2em; }
  #blog .settore1 .blog-author img {
    border-color: #5395E0; }
  #blog .settore1 .post-settore .badge {
    background: #5395E0; }
  #blog .settore2 .blog-author img {
    border-color: #DAA839; }
  #blog .settore2 .post-settore .badge {
    background: #DAA839; }
  #blog .settore3 .blog-author img {
    border-color: #78B23C; }
  #blog .settore3 .post-settore .badge {
    background: #78B23C; }
  #blog .blog-author img {
    border-radius: 50%;
    border: 4px solid #ddd;
    padding: 7px;
    width: 100%;
    height: auto; }
  #blog .blog-author .author-meta {
    height: 100%;
    display: table; }
    #blog .blog-author .author-meta .author-name {
      display: table-cell;
      margin-bottom: 0;
      vertical-align: middle; }
  #blog .blog-author .author-meta-social a {
    color: #333;
    font-weight: 200;
    font-size: 0.8em; }
  #blog[data-page="post"] h1 {
    font-weight: 400;
    font-size: 3rem; }
  #blog[data-page="post"] h2 {
    font-weight: 400; }
  #blog[data-page="post"] b {
    font-weight: bold; }
  #blog[data-page="post"] .feat-img {
    min-height: 400px;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem; }
  #blog[data-page="post"] .post-cont p {
    font-weight: 300; }
  #blog[data-page="post"] .post-cont blockquote p {
    font-family: serif;
    font-weight: 300;
    padding-left: 1em;
    border-left: 4px solid rgba(0, 0, 0, 0.3); }
  #blog .post-settore {
    position: relative;
    z-index: 100; }

/**
 * INTERNA
 */
#interna h1 {
  font-size: 4.5rem;
  color: #366F75; }
  @media screen and (max-width: 731px) {
    #interna h1 {
      font-size: 3rem; } }

#interna h2 {
  margin-bottom: 1em; }

#interna h3 {
  font-weight: bold; }

#interna h4 {
  font-weight: 400; }
  @media screen and (max-width: 731px) {
    #interna h4 {
      text-align: center; } }

#interna #page_featured {
  width: 100%;
  border-radius: 50%;
  padding: 2em;
  border: 3px solid #F3F3F3; }
  #interna #page_featured .image {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat; }

/**
 * CHI SIAMO
 */
@media screen and (max-width: 731px) {
  #interna[data-page="chi-siamo"] .membro {
    word-wrap: break-word; } }

#interna[data-page="chi-siamo"] .membro .desc {
  margin-top: 2em;
  margin-bottom: 4em; }
  #interna[data-page="chi-siamo"] .membro .desc .professione {
    font-weight: 200; }
  #interna[data-page="chi-siamo"] .membro .desc .email {
    font-weight: 200; }

#interna[data-page="chi-siamo"] .membro .pic {
  width: 100%;
  border-radius: 50%; }
  #interna[data-page="chi-siamo"] .membro .pic .image {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat; }

/**
 * PRODOTTO
**/
.product-content {
  text-align: justify; }
  .product-content ul {
    list-style-type: disc;
    padding-left: 2rem; }
  .product-content .image-box {
    padding: 2rem;
    width: 100%;
    text-align: center; }
    .product-content .image-box img {
      width: 100%;
      height: auto;
      border-radius: 24px; }
      .product-content .image-box img.small {
        width: 60%;
        height: auto; }

.product-featured {
  width: 100%;
  border-radius: 24px;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  .product-featured > img {
    display: none; }
    @media screen and (max-width: 731px), screen and (max-width: 768px) {
      .product-featured > img {
        display: block;
        border-radius: 24px; } }
  .product-featured > div {
    border-radius: 24px;
    width: 100%;
    min-height: 30rem;
    background-size: cover;
    background-position: center center; }
    @media screen and (max-width: 731px), screen and (max-width: 768px) {
      .product-featured > div {
        min-height: initial;
        height: 60vw;
        display: none; } }

.product-logo {
  border-radius: 50%;
  padding: 1em;
  border: 3px solid #F3F3F3;
  display: inline-block; }
  .product-logo > div {
    width: 17rem;
    height: 17rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }

/**
 * MAPPA
**/
.mapLegend {
  min-width: 6rem;
  position: absolute;
  top: 195px;
  background: #fff;
  /* left: 0; */
  padding: 1rem 1rem;
  /* width: 10rem; */
  /* margin: 0 auto; */
  margin-top: .5rem;
  right: 0.6rem;
  width: fit-content;
  /* border-bottom-right-radius: 6px; */
  /* border-bottom-left-radius: 6px; */
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .mapLegend i {
    margin-right: .3rem; }
    .mapLegend i.mapActive {
      color: #366F75; }
    .mapLegend i.mapFuture {
      color: #909090; }
  .mapLegend img {
    height: 1rem;
    width: auto; }

#map {
  height: calc(100% - 125px); }

.map-balloon {
  margin-bottom: .6rem; }

.map-balloon span i {
  padding-right: .5em; }

.map-balloon span {
  display: block;
  margin-bottom: .5em; }

[data-page="referenze"] a, [data-page="referenze"] a:hover {
  color: #000;
  text-decoration: none; }

[data-page="referenze"] .customer-box {
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem 0px;
  transition-duration: .3s;
  opacity: 0.7;
  filter: grayscale(100%); }
  [data-page="referenze"] .customer-box .logo {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 200px;
    min-height: 100px;
    max-height: 100px; }
  [data-page="referenze"] .customer-box .name {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding-top: 1rem; }
  [data-page="referenze"] .customer-box:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-color: transparent;
    cursor: pointer;
    opacity: 1;
    filter: grayscale(0%); }

/**
 * LAYOUTS
**/
.layout03_elem {
  padding: 3rem 0;
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }
  @media screen and (max-width: 731px) {
    .layout03_elem {
      padding: 15px !important; } }
  .layout03_elem:nth-of-type(1n) {
    padding-right: 2rem; }
  .layout03_elem:nth-of-type(2n) {
    padding-left: 2rem; }
  .layout03_elem .layout_img {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    margin: 1rem; }
    @media screen and (max-width: 731px) {
      .layout03_elem .layout_img {
        margin: auto;
        margin-bottom: 1rem; } }
    .layout03_elem .layout_img > div {
      border-radius: 50%;
      width: 7rem;
      height: 7rem;
      content: "";
      background-color: #e8e8e8;
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center center; }

#valBals {
  margin: 3rem 0; }

/**
 * MOBILE
 */
@media screen and (max-width: 730px) {
  #motionPath {
    display: none; }
  #afterBalls p {
    font-size: 24px;
    line-height: 1.5em; }
    #afterBalls p b {
      font-size: 1.8em;
      margin-bottom: 0.5em; }
  #masterhead h1 {
    font-size: 3rem;
    text-align: center; }
  #balls .ball-l:nth-of-type(1) {
    padding-top: 40px; }
  #balls .ball {
    width: 285px;
    height: 285px; }
  #ballsCont .ball-l * {
    text-align: center; }
  #balls .ball-l .par {
    padding-left: 0em;
    padding: 0.5rem; }
  #balls .ball-r .par {
    padding-right: 0em;
    padding: 0.5rem; }
  #balls .par span {
    text-align: center; }
  .valBal span.num {
    font-size: 5rem;
    margin-top: -5rem; }
  #valBals .row > [class^="col"]:nth-of-type(2) {
    padding-top: 8em; }
  #valBals .row > [class^="col"]:nth-of-type(4) {
    padding-top: 3em; }
  #slogan {
    opacity: 0; }
  #slogan h3 {
    font-size: 2.7rem; }
  /**
   * Interna
   */
  #interna h2 {
    font-size: 1.6rem; }
  #interna h3 {
    font-size: 1.8rem; } }

@media (min-width: 1600px) {
  nav .container {
    max-width: 1400px !important; }
  body:not([data-home="1"]) .container {
    max-width: 1400px !important; } }
